@font-face {
  font-family: '4000heavy_left';
  src: url('http://webjay.github.io/rf13/gignal/lib/font/4000-heavy_left-webfont.eot');
  src: url('http://webjay.github.io/rf13/gignal/lib/font/4000-heavy_left-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://webjay.github.io/rf13/gignal/lib/font/4000-heavy_left-webfont.woff') format('woff'),
       url('http://webjay.github.io/rf13/gignal/lib/font/4000-heavy_left-webfont.ttf') format('truetype'),
       url('http://webjay.github.io/rf13/gignal/lib/font/4000-heavy_left-webfont.svg#4000heavy_left') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '4000italic';
  src: url('http://webjay.github.io/rf13/gignal/lib/font/4000-italic-webfont.eot');
  src: url('http://webjay.github.io/rf13/gignal/lib/font/4000-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://webjay.github.io/rf13/gignal/lib/font/4000-italic-webfont.woff') format('woff'),
       url('http://webjay.github.io/rf13/gignal/lib/font/4000-italic-webfont.ttf') format('truetype'),
       url('http://webjay.github.io/rf13/gignal/lib/font/4000-italic-webfont.svg#4000italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
