<div class="gignal-box-footer">
  <div class="pull-left">
    <a href="http://{{service}}.com/{{username}}" target="_blank"><img src="{{user_image}}" class="gignal-avatar" /></a>
  </div>
  {{name}}
  {{#username}}
    <br /><a href="http://{{service}}.com/{{username}}" target="_blank">@{{username}}</a>
  {{/username}}
  <br /><small class="lcase"><a href="{{direct}}" target="_blank" class="direct">{{since}}</a></small>
  <a href="http://{{service}}.com/" target="_blank"><img src="./gignal/images/{{service}}.png" class="gignal-service" /></a>
</div>
