#gignal-stream
  background-color: background_color

  header
    background-color: background_color
    margin: 0 3px
    padding: 0 3px
    
    h1
      font-family: '4000heavy_left'
      font-size: 2em
      text-transform: uppercase
      color: #fff

    a, img
      border: none

  .sm 
    padding-top: 5px

    img
      width: 47px
      height: 47px
      margin-left: 5px
