#gignal-stream
  background-color: background_color

  header
    background-color: background_color
    font-family: '4000heavy_left'
    text-transform: uppercase
    color: #fff
    margin: 0 3px

  .sm 
    img
      width: 47px
      height: 47px
      margin-left: 5px
