<div class="gignal-imagebox">
  <div class="gignal-image" style="background-image:url('{{thumb_photo}}')"></div>
  {{#message}}
    <p class="message">{{{message}}}</p>
  {{/message}}
</div>
<div class="gignal-box-footer">
  <div class="pull-left">
    <a href="http://{{service}}.com/{{username}}"><img src="{{user_image}}" class="gignal-avatar" /></a>
  </div>
  {{name}}<br />
  {{#username}}
    <a href="http://{{service}}.com/{{username}}">@{{username}}</a>
  {{/username}}
  <a href="http://{{service}}.com/"><img src="./images/{{service}}.png" class="gignal-service" /></a>
</div>
